body {
    background: url("https://previews.123rf.com/images/cerberoff/cerberoff1805/cerberoff180500006/101786191-audio-tapes-for-tape-recorder-70s-80s-90s-bokeh-vintage-fashion-old-retro-wallpaper-background-textu.jpg");
    font-family: 'Special Elite', cursive;
}

#container {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 2px;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    background: url("https://data.whicdn.com/images/134609488/large.jpg");
    color: greenyellow;
}

.band{
    border: solid purple 3px;
    margin: 10px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    color: purple;
    background-color: greenyellow;
}

h1 {
    margin-top: 5%;
    padding: 1%;
    background: greenyellow;
    border: solid purple 5px;
    font-size: 50px;
    font-family: 'Special Elite', cursive;
    color: purple;
}

img {
    border: solid greenyellow 3px;
    float: left;
}


.bands{
    border: solid purple 3px;
    margin: 10px;
    background-color: greenyellow;
    float: left;
}

label{
    font-size: 20px;
}